<a href="https://colab.research.google.com/github/VershaR1791/Group8_Project/blob/noran/Extracting_samples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path
import json
import geopy
from geopy.geocoders import Nominatim

In [ ]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

In [ ]:
username="postgres"
password="BrAcRfSky6syf8M"
db_string = f"postgresql://{username}:{password}@database-group8.cinukpl9yba8.us-east-2.rds.amazonaws.com"

In [ ]:
engine = create_engine(db_string)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
address_df =[]
address_df = pd.read_sql(f'SELECT * FROM public.\"Address"',engine)

In [ ]:
address_df.head()

   index                Address  ... Neighborhood  Zip_Code
0      0  410 EAST 182ND STREET  ...     BATHGATE     10457
1      1    412 EAST 182 STREET  ...     BATHGATE     10457
2      2    412 EAST 182 STREET  ...     BATHGATE     10457
3      3       4445 PARK AVENUE  ...     BATHGATE     10457
4      4       4348 PARK AVENUE  ...     BATHGATE     10457

[5 rows x 6 columns]

In [ ]:
api_key = 'AIzaSyBg2mQBMLaqFOJS4xH0Tx2aI9ZQhwZWyc4'
BACKOFF_TIME = 30
RETURN_FULL_RESULTS = False

In [ ]:
addresses = address_df['Zip_Code'].tolist()

In [ ]:
address_df.shape

(402900, 6)

In [ ]:
# checking categories for binning
address_df['Building_Class_Category'].unique()

array(['01 ONE FAMILY DWELLINGS                    ',
       '02 TWO FAMILY DWELLINGS                    ',
       '03 THREE FAMILY DWELLINGS                  ',
       '07 RENTALS - WALKUP APARTMENTS             ',
       '14 RENTALS - 4-10 UNIT                     ',
       '08 RENTALS - ELEVATOR APARTMENTS           ',
       '09 COOPS - WALKUP APARTMENTS               ',
       '01  ONE FAMILY DWELLINGS                    ',
       '02  TWO FAMILY DWELLINGS                    ',
       '03  THREE FAMILY DWELLINGS                  ',
       '07  RENTALS - WALKUP APARTMENTS             ',
       '14  RENTALS - 4-10 UNIT                     ',
       '08  RENTALS - ELEVATOR APARTMENTS           ',
       '23  LOFT BUILDINGS                          ',
       '06  TAX CLASS 1 - OTHER                     ',
       '10  COOPS - ELEVATOR APARTMENTS             ',
       '09  COOPS - WALKUP APARTMENTS               ',
       '01  ONE FAMILY HOMES                        ',
       '02  TWO FAMILY HOMES                        ',
       '03  THREE FAMILY HOMES                      ',
       '17  CONDOPS                                 ',
       '11A CONDO-RENTALS                           ',
       '13  CONDOS - ELEVATOR APARTMENTS            ',
       '23 LOFT BUILDINGS                          ',
       '06 TAX CLASS 1 - OTHER                     ',
       '17  CONDO COOPS                             ',
       '15  CONDOS - 2-10 UNIT RESIDENTIAL          ',
       '11  SPECIAL CONDO BILLING LOTS              ',
       '17 CONDO COOPS                             ',
       '10 COOPS - ELEVATOR APARTMENTS             '], dtype=object)

In [ ]:
# bin building class categories to replace and sample
replace_dict = {"01" : "ONE FAMILY DWELLINGS", "02" : "TWO FAMILY DWELLINGS",
                "03" : "THREE FAMILY DWELLINGS", "07" : "RENTAL APARTMENT",
                "08" : "RENTAL APARTMENT", "09" : "COOP APARTMENT", 
                "14" : "RENTAL APARTMENT", "23" : "APARTMENT", "06" : "TAX CLASS 1: OTHER",
                "10" : "COOP APARTMENT", "17" : "CONDO", "11" : "CONDO", 
                "13" : "CONDO", "15" : "CONDO"}

# new column to bin building classes based on code
sample_df = address_df
sample_df["Class_Bins"] = sample_df['Building_Class_Category'].str[:2].replace(replace_dict)

In [ ]:
sample_df

         index                Address  ... Zip_Code            Class_Bins
0            0  410 EAST 182ND STREET  ...    10457  ONE FAMILY DWELLINGS
1            1    412 EAST 182 STREET  ...    10457  ONE FAMILY DWELLINGS
2            2    412 EAST 182 STREET  ...    10457  ONE FAMILY DWELLINGS
3            3       4445 PARK AVENUE  ...    10457  ONE FAMILY DWELLINGS
4            4       4348 PARK AVENUE  ...    10457  ONE FAMILY DWELLINGS
...        ...                    ...  ...      ...                   ...
402895  402895         65 ROBIN COURT  ...    10309  TWO FAMILY DWELLINGS
402896  402896         86 ROBIN COURT  ...    10309  TWO FAMILY DWELLINGS
402897  402897          23 QUAIL LANE  ...    10309  TWO FAMILY DWELLINGS
402898  402898       32 PHEASANT LANE  ...    10309  TWO FAMILY DWELLINGS
402899  402899       49 PITNEY AVENUE  ...    10309  TWO FAMILY DWELLINGS

[402900 rows x 7 columns]

In [ ]:
# take a sample of each zip code and bin group (5%)
sample_df = address_df.groupby(['Zip_Code', 'Class_Bins']).sample(frac=0.05, replace=False, random_state=78)

In [ ]:
# size reduction ok?
sample_df.shape

(20096, 7)

In [ ]:
sample_df['Class_Bins'].value_counts()

ONE FAMILY DWELLINGS      8585
TWO FAMILY DWELLINGS      7567
THREE FAMILY DWELLINGS    1953
RENTAL APARTMENT          1787
RENTL APARTMENT            170
APARTMENT                   28
COOP APARTMENT               5
TAX CLASS 1: OTHER           1
Name: Class_Bins, dtype: int64

In [ ]:
sample_addresses = sample_df["zip_code"].tolist()

In [ ]:
def get_google_results(address, api_key= None, return_marker=False):
  # Set up your Geocoding url
  geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?address={}".format(address)
  if api_key is not None:
        geocode_url = geocode_url + "&key={}".format(api_key)

  # Ping google for the reuslts:
  results = requests.get(geocode_url)
  # Results will be in JSON format - convert to dict using requests functionality
  results = results.json()
    
  # if there's no results or an error, return empty results.
  if len(results['results']) == 0:
      output = {
            "formatted_address" : None,
            "latitude": None,
            "longitude": None,
            "accuracy": None,
            "google_place_id": None,
            "type": None,
            "postcode": None
        }
  else:    
        answer = results['results'][0]
        output = {
            "formatted_address" : answer.get('formatted_address'),
            "latitude": answer.get('geometry').get('location').get('lat'),
            "longitude": answer.get('geometry').get('location').get('lng'),
            "accuracy": answer.get('geometry').get('location_type'),
            "google_place_id": answer.get("place_id"),
            "type": ",".join(answer.get('types')),
            "postcode": ",".join([x['long_name'] for x in answer.get('address_components') 
                                  if 'postal_code' in x.get('types')])
        }
        
  # Append some other details:    
  output['input_string'] = address
  output['number_of_results'] = len(results['results'])
  output['status'] = results.get('status')
  if return_full_response is True:
        output['response'] = results
    
  return output