In [175]:
# import dependencies
import pandas as pd
import json
import requests

In [176]:
# import dependencies to connect to SQL database
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

In [177]:
# Connecting to postgres
username="postgres"
password="BrAcRfSky6syf8M"
db_string = f"postgresql://{username}:{password}@database-group8.cinukpl9yba8.us-east-2.rds.amazonaws.com"
engine = create_engine(db_string)

In [178]:
# Creating dataframe to pull data from address table & pulling data from postgres
Sales_join_Address_df = []
Sales_join_Address_df = pd.read_sql(f'SELECT * FROM "Sales_join_Address"',engine)

In [179]:
# Checking dataframe
Sales_join_Address_df.head()

   index  Gross_Square_Feet  Sale_Price  ... Borough  Neighborhood Zip_Code
0      0               1460      305000  ...       2      BATHGATE    10457
1      1               1440      178000  ...       2      BATHGATE    10457
2      2               1440      449000  ...       2      BATHGATE    10457
3      3               1497      246000  ...       2      BATHGATE    10457
4      4               1764      420000  ...       2      BATHGATE    10457

[5 rows x 10 columns]

In [180]:
# check total rows in df
Sales_join_Address_df.shape

(402900, 10)

In [181]:
# checking categories for binning
Sales_join_Address_df['Building_Class_Category'].unique()

array(['01 ONE FAMILY DWELLINGS                    ',
       '02 TWO FAMILY DWELLINGS                    ',
       '03 THREE FAMILY DWELLINGS                  ',
       '07 RENTALS - WALKUP APARTMENTS             ',
       '14 RENTALS - 4-10 UNIT                     ',
       '08 RENTALS - ELEVATOR APARTMENTS           ',
       '09 COOPS - WALKUP APARTMENTS               ',
       '01  ONE FAMILY DWELLINGS                    ',
       '02  TWO FAMILY DWELLINGS                    ',
       '03  THREE FAMILY DWELLINGS                  ',
       '07  RENTALS - WALKUP APARTMENTS             ',
       '14  RENTALS - 4-10 UNIT                     ',
       '08  RENTALS - ELEVATOR APARTMENTS           ',
       '23  LOFT BUILDINGS                          ',
       '06  TAX CLASS 1 - OTHER                     ',
       '10  COOPS - ELEVATOR APARTMENTS             ',
       '09  COOPS - WALKUP APARTMENTS               ',
       '01  ONE FAMILY HOMES                        ',
       '02  TWO FAMILY HOMES                        ',
       '03  THREE FAMILY HOMES                      ',
       '17  CONDOPS                                 ',
       '11A CONDO-RENTALS                           ',
       '13  CONDOS - ELEVATOR APARTMENTS            ',
       '23 LOFT BUILDINGS                          ',
       '06 TAX CLASS 1 - OTHER                     ',
       '17  CONDO COOPS                             ',
       '15  CONDOS - 2-10 UNIT RESIDENTIAL          ',
       '11  SPECIAL CONDO BILLING LOTS              ',
       '17 CONDO COOPS                             ',
       '10 COOPS - ELEVATOR APARTMENTS             '], dtype=object)

In [182]:
# bin building class categories to replace and sample
replace_dict = {"01" : "ONE FAMILY DWELLINGS", "02" : "TWO FAMILY DWELLINGS",
                "03" : "THREE FAMILY DWELLINGS", "07" : "RENTAL APARTMENT",
                "08" : "RENTAL APARTMENT", "09" : "COOP APARTMENT", 
                "14" : "RENTAL APARTMENT", "23" : "APARTMENT", "06" : "TAX CLASS 1: OTHER",
                "10" : "COOP APARTMENT", "17" : "CONDO", "11" : "CONDO", 
                "13" : "CONDO", "15" : "CONDO"}

# new column to bin building classes based on code
sample_df = Sales_join_Address_df
sample_df["Class_Bins"] = sample_df['Building_Class_Category'].str[:2].replace(replace_dict)

In [183]:
# take a sample of each zip code and bin group (0.07%)
sample_df = Sales_join_Address_df.groupby(['Zip_Code', 'Class_Bins']).sample(frac=0.007, replace=False, random_state=78)

In [184]:
# check size of sample df
sample_df.shape

(2800, 11)

In [185]:
# check count of Class Bins
sample_df['Class_Bins'].value_counts()

ONE FAMILY DWELLINGS      1199
TWO FAMILY DWELLINGS      1058
RENTAL APARTMENT           273
THREE FAMILY DWELLINGS     267
APARTMENT                    3
Name: Class_Bins, dtype: int64

In [186]:
# Converting 'Zip Code' to String dataframe
sample_df['Zip_Code'] = sample_df['Zip_Code'].astype(str)
sample_df.head()

         index  Gross_Square_Feet  ...  Zip_Code        Class_Bins
173510  173510              71500  ...     10001         APARTMENT
167169  167169               5808  ...     10001  RENTAL APARTMENT
178675  178675              19053  ...     10002  RENTAL APARTMENT
176393  176393               5696  ...     10002  RENTAL APARTMENT
171493  171493               5390  ...     10003  RENTAL APARTMENT

[5 rows x 11 columns]

In [187]:
# Passing API Key
API_KEY = 'AIzaSyBg2mQBMLaqFOJS4xH0Tx2aI9ZQhwZWyc4'

In [188]:
# Creating list to get lat long
addresses = (sample_df['Address'] + ',' + sample_df['Zip_Code'] + ',New York City').tolist()

In [189]:
# Create base URL
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"

In [190]:
# Creating function to call geocoding API and get Latitude & Longitude for each address
response =[]
progress = -1
def getLocation(address):
    global progress
    progress += 1
    if progress % 100 == 0:
      print(progress)
    params = {
         "key": API_KEY,
         "address": address
    }
    rsp = requests.get(base_url, params = params).json()
    if rsp ["status"] == "OK":
         geometry = rsp["results"][0]["geometry"]
         latitude = geometry["location"]["lat"]
         longitude = geometry["location"]["lng"]
         return f"{latitude}, {longitude}"

sample_df["latlong"] = sample_df["Address"].map(lambda a: getLocation(a))

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700

In [199]:
#checking for new column
sample_df.head()

         index  Gross_Square_Feet  ...    Latitude           Longitude
173510  173510              71500  ...  40.7466515  -73.99141639999999
167169  167169               5808  ...  40.7496204         -73.9965162
178675  178675              19053  ...  40.7178541  -73.98996269999999
176393  176393               5696  ...  40.7139909          -73.988908
171493  171493               5390  ...   40.727483         -73.9856935

[5 rows x 14 columns]

In [200]:
# splitting latlong to separate columns
sample_df[['Latitude', 'Longitude']] = sample_df['latlong'].str.split(', ', expand=True)

In [201]:
# Checking
sample_df.head()

         index  Gross_Square_Feet  ...    Latitude           Longitude
173510  173510              71500  ...  40.7466515  -73.99141639999999
167169  167169               5808  ...  40.7496204         -73.9965162
178675  178675              19053  ...  40.7178541  -73.98996269999999
176393  176393               5696  ...  40.7139909          -73.988908
171493  171493               5390  ...   40.727483         -73.9856935

[5 rows x 14 columns]

In [212]:
# dropping 'Sale_Date'
sample_df = sample_df.drop('Sale_Date', 1).head()

In [213]:
# dropping 'Year'
sample_df = sample_df.drop('Year', 1).head()

In [214]:
sample_df.dtypes

index                       int64
Gross_Square_Feet           int64
Sale_Price                  int64
Address                    object
Building_Class_Category    object
Borough                     int64
Neighborhood               object
Zip_Code                   object
Class_Bins                 object
latlong                    object
Latitude                   object
Longitude                  object
dtype: object

In [215]:
# Converting to GeoJSON
def df_to_geojson(sample_df, properties, lat='Latitude', lon='Longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in sample_df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [216]:
# Passing columns and converting to json format
geojson = df_to_geojson(sample_df, sample_df.columns)
print(geojson)

{'type': 'FeatureCollection', 'features': [{'type': 'Feature', 'properties': {'index': 173510, 'Gross_Square_Feet': 71500, 'Sale_Price': 5750000, 'Address': '119-121 WEST 28 STREET                   ', 'Building_Class_Category': '23  LOFT BUILDINGS                          ', 'Borough': 1, 'Neighborhood': 'FASHION                  ', 'Zip_Code': '10001', 'Class_Bins': 'APARTMENT', 'latlong': '40.7466515, -73.99141639999999', 'Latitude': '40.7466515', 'Longitude': '-73.99141639999999'}, 'geometry': {'type': 'Point', 'coordinates': ['-73.99141639999999', '40.7466515']}}, {'type': 'Feature', 'properties': {'index': 167169, 'Gross_Square_Feet': 5808, 'Sale_Price': 3854000, 'Address': '315 WEST 29TH STREET                     ', 'Building_Class_Category': '07  RENTALS - WALKUP APARTMENTS             ', 'Borough': 1, 'Neighborhood': 'CHELSEA                  ', 'Zip_Code': '10001', 'Class_Bins': 'RENTAL APARTMENT', 'latlong': '40.7496204, -73.9965162', 'Latitude': '40.7496204', 'Longitude': '-73.9965162'}, 'geometry': {'type': 'Point', 'coordinates': ['-73.9965162', '40.7496204']}}, {'type': 'Feature', 'properties': {'index': 178675, 'Gross_Square_Feet': 19053, 'Sale_Price': 12300000, 'Address': '249 BROOME STREET                        ', 'Building_Class_Category': '07  RENTALS - WALKUP APARTMENTS             ', 'Borough': 1, 'Neighborhood': 'LOWER EAST SIDE          ', 'Zip_Code': '10002', 'Class_Bins': 'RENTAL APARTMENT', 'latlong': '40.7178541, -73.98996269999999', 'Latitude': '40.7178541', 'Longitude': '-73.98996269999999'}, 'geometry': {'type': 'Point', 'coordinates': ['-73.98996269999999', '40.7178541']}}, {'type': 'Feature', 'properties': {'index': 176393, 'Gross_Square_Feet': 5696, 'Sale_Price': 999900, 'Address': '187 EAST BROADWAY                        ', 'Building_Class_Category': '14  RENTALS - 4-10 UNIT                     ', 'Borough': 1, 'Neighborhood': 'LOWER EAST SIDE          ', 'Zip_Code': '10002', 'Class_Bins': 'RENTAL APARTMENT', 'latlong': '40.7139909, -73.988908', 'Latitude': '40.7139909', 'Longitude': '-73.988908'}, 'geometry': {'type': 'Point', 'coordinates': ['-73.988908', '40.7139909']}}, {'type': 'Feature', 'properties': {'index': 171493, 'Gross_Square_Feet': 5390, 'Sale_Price': 3288096, 'Address': '129 1 AVENUE                             ', 'Building_Class_Category': '07  RENTALS - WALKUP APARTMENTS             ', 'Borough': 1, 'Neighborhood': 'EAST VILLAGE             ', 'Zip_Code': '10003', 'Class_Bins': 'RENTAL APARTMENT', 'latlong': '40.727483, -73.9856935', 'Latitude': '40.727483', 'Longitude': '-73.9856935'}, 'geometry': {'type': 'Point', 'coordinates': ['-73.9856935', '40.727483']}}]}

In [217]:
from google.colab import files

output_filename = 'address.js'
with open(output_filename, 'w') as output_file:
    json.dump(geojson, output_file, indent=2, default = str())
    files.download(output_filename)